.Preview {
  position: fixed;
  top: 2vh;
  right: 2vw;
  z-index: 20;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 0.5rem;
}

.Preview-board {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
  width: 11vmin;
  aspect-ratio: 1 / 1;
}

.Preview-board > div {
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 4px;
}

