* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: #406;
  color: #fff;
  overflow: hidden;
}

.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: clamp(0.9rem, 2vw, 1rem);
  text-align: center;
}
